.options{
    padding-top: 15%;
    max-width: 1040px;
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
body {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
div {
    width: 100%;
    margin: auto;
    max-width: 1040px;
}

header div {
    display: flex;
    justify-content: center;
}
.select {
    display: flex;
    max-width: 1040px;
    width: 100%;
    overflow-x: scroll;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
}

.select-imgs {
    display: flex;
    max-width: 1040px;
    width: 100%;
    overflow-x: scroll;
    flex-wrap: nowrap;
    align-items: center;

}

.select-option {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 5px;
    max-width: 400px;
    min-width: 300px;
    height: 150px;
    border-radius: 5px;
    border: 1px solid black;
    background-repeat: no-repeat;
    background-size: contain; 
    background-position: center center;
    
}

textarea {
    width: 95%;
    max-width: 1040px;
    min-width: 300px;
    resize: vertical;
    min-height: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

.paragrafo-select {
    margin: 20px 0;
    border: 1px solid black;

}

.btn {
    color: white;
    background-color: #C4170C;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid white;
    border-radius: 5px;
    width: 50%;
    min-width: 200px;
}

.btn-pub {
    color: white;
    background-color: #04159F;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid white;
    border-radius: 5px;
    width: 50%;
    min-width: 200px;

}
.btn-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.btn-close{
    color: white;
    background-color: #C4170C;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid white;
    border-radius: 5px;
    width: 5%;
    min-width: 100px;
}

input[type="radio"] {
    margin: 5px;
}