*{
    padding: 0;
    margin: 0;
}
body {
    background-color: #F9F9F9;

}
header {
    background-color: #C4170C;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    position: fixed;
    top:0px;
    width: 100%;
    color: white;
    font-family: opensans,opensans-bastian,Arial,sans-serif;
    font-weight: bold;
    z-index: 5;

}

footer {
    background-color: #C4170C;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 100%;
    color: white;
    font-family: opensans,opensans-bastian,Arial,sans-serif;    z-index: 5;

}
.search-input {
    height: 30px;
    border-radius: 5px;
    width: 150px;
    background-color: rgb(131, 13, 4);
    color: white;
    font-family: opensans,opensans-bastian,Arial,sans-serif;
    font-size: 1rem;
    border: 0px;
    transform: 1s all linear;
}

.search-input::placeholder {
    color: white;
    font-weight: bolder;
    padding-left: 20px;
}

.painel {
    padding-top: 200px;
    width: 100%;
    min-width: 310px;
    max-width: 1040px;
    margin: auto;
}
.container-painel {
    display: flex;
    flex-wrap: wrap;
}
.painel-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    /* margin: 5px; */
}

.categoria-painel {
    display: flex;
    margin: 10px;
    position: absolute;
    top: 5px;
    left: 20px;
}
.title-painel {
    position: absolute;
    bottom: 45px;
    left: 20px;
    margin: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.descricao-painel {
    position: absolute;
    bottom: 5px;
    left: 20px;
    margin: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.container{
    width: 100%;
    max-width: 1040px;
    display: flex;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
}

.noticias {
    width: 65%;
    margin-left:5px;
}
.noticias-noticia {
    max-width: 1040px;
    width: 95%;
    margin-left:5px;
    margin: auto;
    margin-top: 100px;

}

.card-noticias {
    width: 100%;
    min-width: 320px;
    border-bottom: 2px solid rgb(100, 99, 99);
    margin: 10px 0px;
    display: flex;
    /* justify-content: center; */
    align-items: flex-start;
    flex-wrap: wrap;
    cursor: pointer;
}


.info-noticia {
    width: 49%;
    margin: 15px 5px;
    font-family: opensans,opensans-bastian,Arial,sans-serif;
    /* color: #C4170C; */
    display: flex;
    flex-direction: column;
    min-width: 310px;
}

.titulo-noticia {
    color: #C4170C;
}
.descricao-noticia {
    color: black;
    opacity: 0.7;
    margin: 2rem 0;
}

.btn-red {
    display: flex;
    flex: 1;
    /* margin: 10px 0; */
    /* border: 1px solid black; */
    justify-content: center;
    align-items: center;
    background-color: #C4170C;
    height: 50px;
    color: white;
    font-family: opensans,opensans-bastian,Arial,sans-serif;
    font-weight: 600; 
    font-size: 0.9rem;
    border-radius: 3px;
    border-bottom: 2px solid  rgb(131, 13, 4);
    margin: 20px 0;
    cursor: pointer;
}
.aside {
     width: 33%; 
    /* height: 50vh; */
    margin: 20px 5px;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 3px;
    background-color: white;
    display: flex;
    justify-content: center;
    height: max-content;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}
.header-aside {
    display: flex;
    height: 40px;
    color: rgb(32, 32, 32);
    border-bottom: 1px solid rgb(170, 170, 170);
    align-items: center;
    font-family: opensans,opensans-bastian,Arial,sans-serif;
    font-weight: 600; 
    font-size: 1rem;
}
.header-aside h4{
    margin-left: 2rem;
}

.card-aside {
    margin: 20px 3px;
    font-family: opensans,opensans-bastian,Arial,sans-serif;
    font-weight: 600; 
    font-size: 0.9rem;
    color: #C4170C;
    display: flex;
    border-bottom: 2px solid rgb(100, 99, 99);
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.img-card-aside {
    width: 50%;
    height: 100px;
    overflow: hidden;
    margin: 20px 0px; 

    background:
      url("https://s2.glbimg.com/a0Vuikyk90u74FDYPfnopsZtAmA=/0x0:1600x961/94x94/smart/http://s2.glbimg.com/XwWPiXyKzN1neBmyu4uQLdIMSmI=/0x0:1600x961/1600x961/s.glbimg.com/jo/g1/f/original/2020/03/31/estrutura-do-corona_ZebiVaJ.jpg")
    ;

    background-size: cover; 
    background-position: center center;
    display: flex;
    align-self: start;
    max-width: 100px;
}
@keyframes scale {
    0% {
        background-size: 100%;
        /* background-size: cover;  */
    }

    100% {
        background-size: 120%;
        /* background-size: cover; */
    }
 
}

@keyframes scaleReverse {
    0% {
        background-size: 120%;
        /* background-size: cover; */
    }
    
    100% {
        background-size: 100%;
        /* background-size: cover; */
    }
     
    }

@media (max-width: 964px) {
    .noticias {
        width: 95%;
    }
    .aside {
        width: 95%;
    }
    .card-noticias {
        justify-content: center;
    }
    .painel-content {
        width: 85%;
    }
    #menu-menu {
        display: none;
    }
    .card-noticias {
        margin: 10px 0px;
        min-width: 310px;
    }

}

@media (max-width: 691px) and (hover: none) {

    .descricao-painel {
        position: absolute;
        bottom: -5px;
        left: 20px;
        margin: 10px;
    }
    .painel-news {
        animation: none !important;
    }

    .painel-news:hover {
        animation: none !important;
        background-position: center center;
        background-size: cover; 
        background-size: 140%;
    }


}

.img-submited {
    width: 90%;
    max-width: 500px;
    min-width: 320px;
    margin: auto;
    margin-top: 100px;
}
#btn-search {
    margin: 5px;
}
#img-submited {
    width: 90%;
    max-width: 500px;
    min-width: 320px;
    margin: auto;
    margin-top: 100px;
}

.cotacao-moeda {
    display: flex;
    justify-content: space-between;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    align-items: center;
    opacity: 0.8;
}

.cotacao-moeda div{
    margin: 5px;
}

.nome-moeda {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;

}
.pct-variacao-moeda {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
}

.card-clima-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-clima-cidade {
    font-weight: 600;
    opacity: 0.97;
    margin: 0.5rem;
}
.card-clima-tempo {
    opacity: 0.97;
    margin: 0.5rem;
}
.card-clima-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    margin: 0.5rem; 
    align-items: center;

}
.card-clima-footer div {

    margin: 0px 10px;

}
.card-clima-icone {
    font-weight: 600;
    
    font-size: 5.0rem;
}
.card-clima-temp {
    display: flex;
    flex-direction: column;
    font-weight: 600;
}
.temp-max {
    margin-bottom: 0.5em;
    opacity: 0.9;
}
.temp-min {
    margin-top: 0.5em;
    opacity: 0.7;
}
.clima-next {
    cursor: pointer;
    background-color: #C4170C;
    display: flex;
    height: 50px;
    width: 70px;
    justify-content: center;
    border: 1px solid white;
    border-radius: 5px;
}
.clima-next a {
    text-align: center;
    line-height: 50px;
    color: white;
    opacity: 1;

}

.header-league-name {
    font-family: Arial, Helvetica, sans-serif;
    color: #C4170C;
    font-size: 1.2rem;
}

.futebol-table {
    width: 100%;
    border-collapse: collapse;
}
th {
    text-align: center;
    height: 40px;
    border: 1px solid rgb(170, 170, 170);
}
td {
    text-align: center;
    font-weight: 600;

    height: 40px;
    border: 1px solid rgb(170, 170, 170);
}
td img {
    width: 50px;
}

.futebol-PTS {
    color: black;
}

.futebol-W {
    color: #2E9900;
}

.futebol-D {
    color: gray;
}

.futebol-L {
    color: #C4170C;
}


::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 1px;
}
::-webkit-scrollbar-thumb {
  background: rgb(221, 77, 66);
  border-radius: 1px;
}
::-webkit-scrollbar-thumb:hover {
  background: #C4170C;
}